

.comparisonSection {
  position: relative;
  /* padding-bottom: 56.25%; to maintain aspect ratio (responsive!) */
}
.comparisonImage {
  width: 100vw;
  height: 100vh;
}
.afterImage {
  position: absolute;
  overflow: hidden;
  top: 0;
  transform: translate(100%, 0px);
    
}
.afterImage img {
  transform: translate(-100%, 0px);
}
.afterbg{
  transform: translate(-100%, 0px);

}
.bg_image{
    background-image: url("https://assets-global.website-files.com/651aa8b4feb6490e2b81db9a/651bc4f67fe4e6d1b7895f3a_grid-hero.svg");
    z-index: 1000;
    background-size: 20vh;
}

