.largeheading{
  font-size: 61.04px;
}
.p__heading {
color: #1E1E1E;
font-family: Cormorant;
font-size: 31.25px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.p__smallheading {
  font-family: 'Cormorant', serif;
  font-size: 25px;
  font-weight: 400;
}
.font_cormorant{
  font-family: 'Cormorant', serif;

}
.circle_container {
  position: relative;
  width: 600px;
  height: 600px;
  border: 1px solid rgb(211, 211, 245);
  border-radius: 50%;
  overflow: hidden;
  z-index: -1;
  background-color: black;
}

.circle_container_image {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 140px;
  z-index: 1000;
}



.p__smalltext {
  font-family: 'Cormorant', serif;
  font-size: 16px;
  font-weight: 500;
}

.electron {
  width: 100%;
  height: 100%;
  position: relative;
  animation: rotation 5s linear 2s 1 ;
  border-radius: 50%;
  padding: 250px;
  border: 1px solid #f2eded;
  /* background-color: #0a0a0a; */
}

.electron::before {
  content: "";
  width: 20px;
  height: 20px;
  background-color: #D9D9D9;
  position: absolute;
  top: 139px;
  left: -55px;
  border-radius: 50%;
  margin: 51px;
}


@keyframes rotation {
  0% {
    transform:  rotate(-360deg);
  }
}

.navitem{
    font-family: 'Cormorant', serif;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.slide-in{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #f0f0f0;
  transform-origin: bottom;
}
.slide-in{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #f0f0f0;
  transform-origin: top;
}

/* Media Query for Small Screens (e.g., mobile phones) */

@media (max-width: 768px) {
  .electron {
  width: 100%;
  height: 100%;
  position: relative;
  animation: rotation 5s linear 2s 1 ;
  border-radius: 50%;
  padding: 120px;
  border: 1px solid #f2eded;
  margin-top: 5px;
  }

  .electron::before {
    width: 15px; /* Adjust the size of the pseudo-element for smaller screens */
    height: 15px;
    top: 80px; /* Adjust the position of the pseudo-element for smaller screens */
    left: -40px;
    margin: 31px;
  }
}

/* Media Query for Medium Screens (e.g., tablets) */
@media (min-width: 769px) and (max-width: 1024px) {
  .electron {
    padding: 200px; /* Adjust the padding for medium screens */
    margin-top: 40px;
  }

  .electron::before {
    width: 18px; /* Adjust the size of the pseudo-element for medium screens */
    height: 18px;
    top: 120px; /* Adjust the position of the pseudo-element for medium screens */
    left: -50px;
    margin: 41px;
  }
}