@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:wght@100;200;300;400;500&family=Bellefair&family=Cormorant:wght@300;400;500;600;700&family=IBM+Plex+Serif&family=Noto+Serif:wght@100;300;400&family=Open+Sans:wght@300;400&family=Playfair:opsz,wght@5..1200,300;5..1200,400;5..1200,500&family=Poppins:wght@300;400&family=Ysabeau:wght@200;300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Mukta:wght@200;300;400;500;600;700;800&family=Syne:wght@400..800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-base: 'Cormorant Upright', serif;
  --font-alt: 'Open Sans', sans-serif; 
  --color-blue: #6A76F4;
  --color-black: #1E1E1E;
  --color-gray: #D9D9D9;
  --color-grey: #E1E1E1;
  --color-white: #FFFFFF;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  /* font-family: 'Cormorant Upright', serif ; */

}

.p__heading{
  font-family: 'Cormorant', serif;
  font-size: 31.25px;
  font-weight: 400;
}