.container {
  overscroll-behavior: none;
  width: 600%;
  height: 100vh;
  display: flex;
  flex-wrap: nowrap;
}
.project_container{
  max-height: 100vh;
  scroll-snap-type: y mandatory;
}
.mask{
 mask-image:url('../../assets/mask.png') ;
 mask-position: center ;
 mask-size: 100% 150%;
 height: 100%;
}